@model Alarmee.Web.Models.TestPlanModel


<div class="hospitalPlan">
    <canvas id="myCanvas" width="300" height="400"></canvas>
    <script>
        var canvas = document.getElementById('myCanvas');
        var context = canvas.getContext('2d');

        for (var i = 0; i < @Model.Rooms.Count; i++)
        {
            context.beginPath();
            context.moveTo(@Model.Rooms[0].X1, @Model.Rooms[0].Y1);
            context.lineTo(@Model.Rooms[0].X2, @Model.Rooms[0].Y1);
            context.lineTo(@Model.Rooms[0].X2, @Model.Rooms[0].Y2);
            context.lineTo(@Model.Rooms[0].X1, @Model.Rooms[0].Y2);
            context.lineTo(@Model.Rooms[0].X1, @Model.Rooms[0].Y1);
            context.stroke();

            context.font = '20pt Calibri';
            context.fillStyle = @Html.Raw(Json.Encode(Model.Rooms[0].Color));
            context.fillText(@Html.Raw(Json.Encode(@Model.Rooms[0].Name)), 100, 50);
        }

        for (var i = 0; i < @Model.Beds.Count; i++)
        {
            context.beginPath();
            context.rect(@Model.Beds[0].X1, @Model.Beds[0].Y1, @Model.Beds[0].X2, @Model.Beds[0].Y2);
            context.fillStyle = @Html.Raw(Json.Encode(Model.Beds[0].Color));
            context.fill();
            context.stroke();

            context.font = '20pt Calibri';
            context.fillStyle = 'white';
            context.fillText(@Html.Raw(Json.Encode(@Model.Beds[0].Name)), 100, 200);
        }
    </script>
</div>

<div class="pumpsInfo">
    <ul>
        @foreach (string pump in @Model.PumpsAsString)
        {
            <li>@pump</li>
        }
    </ul>
</div>

<div class="alertInfo">
    <ul>
        @foreach (string alert in @Model.AlertsAsString)
        {
            <li>@alert</li>
        }
    </ul>
</div>